@font-face {
  font-family: "ProximaNova";
  src: url("assets/fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("assets/fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "ProximaNova";
  background-color: #282b38;
  color: #fff;
  line-height: 1.3;
}

section {
  margin-bottom: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 56px;
  line-height: 1.26;
}

h2 {
  font-size: 36px;
  line-height: 1.245;
}

h3 {
  font-size: 22px;
  line-height: 1.245;
}

h4 {
  font-size: 20px;
  line-height: 1.355;
}

h5 {
  font-size: 18px;
  line-height: 1.245;
}

h6 {
  font-size: 17px;
  line-height: 1.26;
}

select {
  display: none;
}

input::-webkit-outer-spin-button, textarea::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number], textarea[type=number] {
  -moz-appearance: textfield;
}

input[type=checkbox], textarea[type=checkbox] {
  display: none;
}
input[type=checkbox] + label:hover:before, textarea[type=checkbox] + label:hover:before {
  border-color: #e58d35;
}

input[type=checkbox] + label:before, textarea[type=checkbox] + label:before {
  content: "";
  background-color: #fff;
  border: 1px solid #282b38;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  border-radius: 4px;
}

input[type=checkbox]:checked + label:before, textarea[type=checkbox]:checked + label:before {
  content: "";
  background: url(assets/img/icon-checked.png) center no-repeat #fff;
}

input, textarea {
  background-color: #fff;
  font-size: 15px;
  border-radius: 10px;
  padding: 18px 20px;
  border: none;
  transition: 0.3s;
  color: #282b38;
}
input:focus-visible, textarea:focus-visible {
  outline: none;
}
input:hover, textarea:hover {
  box-shadow: 0px 0px 4px 2px rgba(229, 141, 53, 0.6666666667);
}
input:focus, textarea:focus {
  box-shadow: 0px 0px 4px 2px rgba(137, 194, 73, 0.6666666667);
}
input:active, textarea:active {
  box-shadow: 0px 0px 5px 3px #89c249;
}
input[type=file], textarea[type=file] {
  display: none;
}
input[type=file] + label, textarea[type=file] + label {
  text-align: center;
  padding: 12px 12px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23fff' stroke-width='2' stroke-dasharray='8px%2c 10px ' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(100% - 1px) calc(100% - 1px);
  margin-bottom: 2px;
}
input[type=file] + label:hover, textarea[type=file] + label:hover {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2389C249' stroke-width='2' stroke-dasharray='3px%2c 6px ' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
input::placeholder, textarea::placeholder {
  color: #cbcbcb;
}

textarea {
  min-height: 55px;
  height: 70px;
  max-height: 160px;
  margin-bottom: 26px;
}

label {
  cursor: pointer;
  margin-bottom: 6px;
}

.bg-accent {
  position: relative;
  padding: 90px 0 100px;
}
.bg-accent .container {
  max-width: 1364px;
  padding-left: 100px;
  padding-right: 100px;
}
.bg-accent::before {
  content: "";
  position: absolute;
  inset: 0 50px;
  background-color: #363a4d;
  max-width: 1820px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  z-index: -1;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.btn {
  font-size: 15px;
  background-color: #e58d35;
  color: #fff;
  border-color: #e58d35;
  border-radius: 90px;
  padding: 12px 27px;
}
.btn:hover {
  background-color: transparent;
  border-color: #e58d35;
}
.btn.btn-sm {
  padding: 12px 18px;
}
.btn.btn-lg {
  font-size: 16px;
  padding: 19px 21px 19px 33px;
}
.btn.btn-lg img {
  margin-left: 48px;
}
.btn.btn-secondary {
  background-color: transparent;
}
.btn.btn-secondary:hover {
  background-color: #e58d35;
}
.btn.btn-primary {
  background-color: #e58d35;
}
.btn.btn-primary:hover {
  background-color: #e58d35;
}

.template-title {
  text-align: center;
  position: relative;
  padding-bottom: 70px;
}
.template-title h2 {
  text-transform: uppercase;
  margin-bottom: 12px;
}
.template-title h2:after {
  content: "";
  position: absolute;
  width: 85px;
  height: 2px;
  background-color: #e58d35;
  bottom: 54px;
  left: 50%;
  transform: translateX(-50%);
}
.template-title h3 {
  font-size: 24px;
  font-weight: 400;
}
.template-title.template-title_case-2 {
  text-align: left;
}
.template-title.template-title_case-2 h2:after {
  left: 0;
  transform: none;
}
.template-title.template-title_case-3 {
  text-align: left;
  max-width: 626px;
}
.template-title.template-title_case-3 h2:after {
  position: static;
  display: inline-block;
  transform: none;
  margin: 0 0 8px 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 28px 30px;
  margin-bottom: 34px;
}
.form-row:last-of-type {
  margin-bottom: 24px;
}

.form-column {
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.input-box_checkbox {
  padding-left: 33px;
  padding-top: 2px;
  margin-bottom: -9px;
}
.input-box_checkbox:first-child {
  margin-top: 20px;
}

.nice-select {
  color: #282b38;
  height: 55px;
  border-radius: 10px;
  font-size: 15px;
  line-height: 52px;
}
.nice-select .list {
  margin-bottom: 0;
}
.nice-select:after {
  display: block;
}

.nice-select-dropdown {
  width: 100%;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #89c249;
}

.file-name {
  margin-bottom: 13px;
}

.template-carousel {
  position: relative;
}
.template-carousel .card {
  margin: 0 auto;
}

.delivery .template-carousel .swiper .swiper-pagination {
  position: static;
  margin-top: 32px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bottom, 13px);
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  margin-bottom: 0;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #89c249;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: calc(100% - 59px);
}

.swiper-arrow-container {
  --padding: 20px;
  position: absolute;
  top: calc(50% - 23px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: calc(1503px + var(--padding) * 2);
  height: 0;
  z-index: 1;
  padding: 0 var(--padding);
  display: flex;
  justify-content: space-between;
  width: calc(100% + 183px);
}

.logo {
  max-width: 172px;
}

.navbar {
  padding: 25px 0 40px;
  white-space: nowrap;
}

.navbar-nav {
  max-width: 619px;
  padding: 5px 0 0 0;
  width: 100%;
  justify-content: space-between;
}

.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #e58d35;
}

.hamburger {
  padding: 7px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger:focus {
  box-shadow: none;
}

.hamburger-box {
  width: 27px;
  height: 25px;
}

.hamburger--spring .hamburger-inner {
  top: 3px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
  width: 27px;
  height: 2px;
}

.swiper-banner {
  width: 100%;
  max-width: 1820px;
}
.swiper-banner .swiper-slide {
  min-height: 700px;
  background-color: #363a4d;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.swiper-banner .swiper-slide .container {
  padding-top: 163px;
  padding-bottom: 73px;
}
.swiper-banner .swiper-banner-arrow {
  --padding: 20px;
  position: absolute;
  top: calc(50% - 23px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: calc(1503px + var(--padding) * 2);
  height: 0;
  z-index: 1;
  padding: 0 var(--padding);
  display: flex;
  justify-content: space-between;
}

.banner-title {
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  max-width: 465px;
  line-height: 1.26;
}

.banner-description {
  max-width: 320px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 37px;
  line-height: 1.36;
}

.calculation .template-title {
  padding-bottom: 52px;
}
.calculation .container {
  position: relative;
}

.calculation-form {
  max-width: 626px;
  background: #363a4d;
  border-radius: 20px;
  padding: 50px 50px 60px;
  font-size: 15px;
}

.calculation-img {
  position: absolute;
  bottom: -100px;
  left: 610px;
}

.advantages .swiper-pagination {
  position: static;
}

.advantages {
  text-align: center;
}

.advantage__img-box {
  width: 113px;
  height: 113px;
  border: 1px solid #6c7188;
  margin: 0 auto 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.advantage__img-box:before {
  content: "";
  position: absolute;
  inset: 10px;
  background-color: #89c249;
  border-radius: 50%;
  z-index: -1;
}

.advantage__title {
  font-weight: 400;
  font-size: 18px;
}

.advantages-horizontal > .swiper-pagination-bullets,
.advantages-pagination-bullets.swiper-pagination-horizontal {
  top: calc(100% - 59px);
}

.card_services {
  min-height: 482px;
}

.card .card-title {
  text-align: left;
}

.services .template-carousel .swiper .swiper-pagination {
  position: static;
  margin-top: 32px;
}

.card {
  border-radius: 20px;
  background-color: #363a4d;
  width: 360px;
  border: none;
}
.card__img-box {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.card-body {
  padding: 27px 20px;
}
.card-title {
  font-size: 22px;
  margin-bottom: 12px;
  text-align: center;
}
.card__options-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 34px;
  padding: 0;
  margin-bottom: 8px;
}
.card__options-item {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.card .card__price {
  margin-bottom: 22px;
  font-size: 22px;
  text-align: center;
}
.card .card__price span:first-child {
  color: #a3a3a3;
}
.card .card__price strong {
  font-size: 45px;
  line-height: 125%;
}
.card__btn-row {
  display: flex;
  gap: 14px;
}
.card__btn-row .btn {
  width: 50%;
}
.card.card_services {
  position: relative;
}
.card.card_services::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%);
  border-radius: 20px;
}
.card.card_services .card-body {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 1;
}

.delivery .template-title h2:after {
  background-color: #89c249;
}

.company .template-title h2:after {
  background-color: #89c249;
}
.company .container {
  display: flex;
  gap: 35px;
}
.company .container .company-description {
  max-width: 555px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  line-height: 170%;
  gap: 10px;
}
.company .container .company-img {
  width: 100%;
}

.questions__row {
  display: flex;
  align-items: flex-start;
  gap: 34px;
}

.questions-form__title {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 700;
}

.questions-form {
  border-radius: 20px;
  background-color: #363a4d;
  padding: 38px 40px;
  width: 390px;
  align-items: center;
}
.questions-form .btn-lg {
  padding: 20px 20px 19px;
  min-width: 310px;
}
.questions-form .btn-lg .arrow-left {
  margin-left: 120px;
}
.questions-form .input-box {
  margin-bottom: 14px;
  width: 310px;
}

.questions-form__subtitle {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 23px;
}

.questions .accordion {
  flex: 0 1 100%;
  width: 100%;
}
.questions .accordion .accordion-item {
  background-color: transparent;
  border: 1px solid #3a444e;
  margin-bottom: 16px;
  border-radius: 10px;
}
.questions .accordion .accordion-button {
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  box-shadow: none;
  padding: 21px 19px 21px 34px;
  border-radius: 10px;
}
.questions .accordion .accordion-button::after {
  width: 27px;
  height: 27px;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_49)'%3E%3Cpath d='M0.421875 13.5C0.421875 6.27539 6.27539 0.421875 13.5 0.421875C20.7246 0.421875 26.5781 6.27539 26.5781 13.5C26.5781 20.7246 20.7246 26.5781 13.5 26.5781C6.27539 26.5781 0.421875 20.7246 0.421875 13.5ZM13.5 24.8906C19.7596 24.8906 24.8906 19.8229 24.8906 13.5C24.8906 7.24043 19.8229 2.10938 13.5 2.10938C7.24043 2.10938 2.10938 7.17715 2.10938 13.5C2.10938 19.7596 7.17715 24.8906 13.5 24.8906ZM14.1592 20.0127L20.2289 13.9482C20.4768 13.7004 20.4768 13.2996 20.2289 13.0518L14.1592 6.9873C13.9113 6.73945 13.5105 6.73945 13.2627 6.9873L12.8988 7.35117C12.651 7.59902 12.651 8.01035 12.9094 8.25293L17.4182 12.6035H7.38281C7.03477 12.6035 6.75 12.8883 6.75 13.2363V13.7637C6.75 14.1117 7.03477 14.3965 7.38281 14.3965H17.4182L12.9041 18.7471C12.651 18.9949 12.6457 19.401 12.8936 19.6488L13.2574 20.0127C13.5105 20.2605 13.9113 20.2605 14.1592 20.0127Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_49'%3E%3Crect width='27' height='27' fill='white' transform='matrix(-1 0 0 1 27 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.questions .accordion .accordion-button:not(.collapsed)::after {
  width: 27px;
  height: 27px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 26.5781C6.27539 26.5781 0.421874 20.7246 0.421874 13.5C0.421875 6.27539 6.27539 0.421875 13.5 0.421876C20.7246 0.421876 26.5781 6.27539 26.5781 13.5C26.5781 20.7246 20.7246 26.5781 13.5 26.5781ZM24.8906 13.5C24.8906 7.24043 19.8229 2.10938 13.5 2.10938C7.24043 2.10938 2.10937 7.17715 2.10937 13.5C2.10937 19.7596 7.17715 24.8906 13.5 24.8906C19.7596 24.8906 24.8906 19.8229 24.8906 13.5ZM20.0127 12.8408L13.9482 6.77109C13.7004 6.52324 13.2996 6.52324 13.0518 6.77109L6.9873 12.8408C6.73945 13.0887 6.73945 13.4895 6.9873 13.7373L7.35117 14.1012C7.59902 14.349 8.01035 14.349 8.25293 14.0906L12.6035 9.58184L12.6035 19.6172C12.6035 19.9652 12.8883 20.25 13.2363 20.25L13.7637 20.25C14.1117 20.25 14.3965 19.9652 14.3965 19.6172L14.3965 9.58184L18.7471 14.0959C18.9949 14.349 19.401 14.3543 19.6488 14.1064L20.0127 13.7426C20.2605 13.4895 20.2605 13.0887 20.0127 12.8408Z' fill='%23E58D35'/%3E%3C/svg%3E");
  transform: rotate(360deg);
}

.accordion-body {
  background-color: #ffffff;
  padding: 21px 80px 21px 34px;
  border-radius: 10px;
}
.accordion-body .accordion-description {
  color: #282b38;
  font-size: 17px;
  font-weight: 300;
  font-family: "ProximaNova";
  margin: 0;
  line-height: 145%;
}

.partnership .template-title h2:after {
  background-color: #89c249;
}
.partnership .container {
  margin-bottom: 100px;
}

.partnership__content {
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
}

.partnership__content-item {
  width: calc(50% - 28px);
  font-size: 17px;
  font-weight: 300;
  line-height: 157%;
}
.partnership__content-item p {
  margin-bottom: 50px;
}
.partnership__content-item p:last-child {
  margin-bottom: 0;
}
.partnership__content-item img {
  height: auto;
  max-width: 100%;
}

.footer__socials img {
  width: 34px;
  height: 33px;
  margin-right: 8px;
}

.container__footer {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 90px;
}

.footer__navigation {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.footer__list {
  list-style: none;
  white-space: nowrap;
  padding-left: 0;
}
.footer__list a {
  text-align: left;
  color: #85899c;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 161%;
}

.footer__title {
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.footer__element img {
  max-width: 1140px;
  object-fit: cover;
  max-height: 100%;
  width: 100%;
}

.footer__brand p {
  line-height: 163%;
  font-size: 14px;
  margin-bottom: 8px;
}
.footer__brand a {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 8px;
}

.footer__logo img {
  margin-bottom: 28px;
}

@media (min-width: 992px) {
  .swiper-banner {
    width: calc(100% - 24px);
  }
  .swiper-banner .swiper-slide {
    border-radius: 20px;
  }
  .advantages .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 48px 24px;
  }
}
@media screen and (max-width: 1399.98px) {
  .swiper-banner .swiper-slide .container {
    padding: 132px 72px 73px;
  }
}
@media screen and (max-width: 1199.98px) {
  .navbar-nav {
    max-width: 540px;
  }
  .calculation-img {
    width: 35vw;
  }
  .bg-accent::before {
    inset: 0 12px;
  }
  .footer .container .footer__navigation {
    gap: 75px;
  }
}
@media screen and (max-width: 991.98px) {
  .logo {
    max-width: 126px;
  }
  .navbar {
    padding: 17px 0 15px;
  }
  .navbar-collapse {
    background-color: #363a4d;
    margin: 0 -12px;
    padding: 0px 40px;
    text-align: center;
    transform: translate(0, 12px);
  }
  .navbar-nav {
    padding: 37px 0 34px;
  }
  .navbar-nav + .btn {
    margin-bottom: 60px;
    width: 100%;
    font-size: 16px;
    max-width: 295px;
    padding: 21px 27px;
  }
  .nav-link {
    color: #fff;
    font-size: 24px;
    line-height: 222%;
  }
  .nav-link:hover {
    color: #e58d35;
  }
  .template-title.template-title_case-3 {
    text-align: center;
    max-width: 100%;
    padding-bottom: 70px;
  }
  .template-title.template-title_case-3 h2:after {
    content: "";
    position: absolute;
    width: 85px;
    height: 2px;
    border-color: #e58d35;
    bottom: 54px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
  .bg-accent::before {
    border-radius: 0;
    inset: 0;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .swiper-banner .swiper-slide {
    display: flex;
    text-align: center;
    align-items: center;
    min-height: calc(100vh - var(--header-height));
  }
  .swiper-banner .swiper-slide::before {
    content: "";
    position: absolute;
    background-color: rgba(4, 9, 17, 0.6);
    z-index: -1;
    inset: 0;
  }
  .swiper-banner .swiper-slide .container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .banner-title {
    font-size: 36px;
  }
  .banner-description {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .calculation-img {
    display: none;
  }
  .input-box_checkbox:first-child {
    margin-top: 6px;
  }
  .template-title h2 {
    font-size: 24px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bottom, 8px);
  }
  .advantage__title {
    min-width: 218px;
    margin-bottom: 0 auto 40px;
  }
  .nice-select:after {
    display: none;
  }
  .services .container {
    padding-left: 0;
    padding-right: 0;
  }
  .company .container {
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }
  .company .container .company-description {
    width: 100%;
  }
  .company .container .template-title h2:after {
    left: calc(50% - 48px);
  }
  .company .container .template-title h2 {
    text-align: center;
  }
  .company .container .company-img {
    max-width: 450px;
  }
  .company .container .paragraph-1 {
    margin: 0 0 30px;
  }
  .company .container .paragraph-2 {
    margin: 0;
  }
  .questions__row {
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }
  .questions-form .btn-lg {
    min-width: 295px;
    padding: 19px 13px 20px;
  }
  .questions-form .btn-lg .arrow-left {
    margin-left: 100px;
  }
  .questions-form .input-box {
    width: 295px;
  }
  .questions-form__title,
  .questions-form__subtitle {
    text-align: center;
  }
  .questions .accordion .accordion-button {
    font-size: 16px;
  }
  .accordion-body .accordion-description {
    font-size: 14px;
  }
  .partnership__content {
    flex-direction: column;
  }
  .partnership__content-item {
    width: 100%;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
  }
  .partnership__content-item p {
    margin-bottom: 30px;
  }
  .order-mobile-negative {
    order: -1;
  }
  .partnership .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .advantages .container {
    padding-left: 56px;
    padding-right: 56px;
  }
  .footer .footer__navigation {
    display: none;
  }
  .footer__brand {
    text-align: center;
    font-size: 14px;
    align-items: center;
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .calculation-form {
    padding: 52px 30px 34px;
  }
  .calculation-form .btn.btn-lg {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .form-row {
    flex-direction: column;
    margin-bottom: 22px;
  }
  .form-column {
    width: 100%;
  }
  .company .container .company-description {
    width: 100%;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
  }
  .company .container .company-img {
    max-width: 326px;
  }
}
/*# sourceMappingURL=style.css.map */
